# prepare

## splitting data

In [ ]:
# import needed libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sys
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Blibli/Electronic/BlibliElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Blibli/Fashion/BlibliFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='@')
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Blibli/Furniture/BlibliFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')

# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Blibli/Electronic/BlibliElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Blibli/Fashion/BlibliFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='@')
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Blibli/Furniture/BlibliFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')

# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Blibli/Electronic/BlibliElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')
# data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Blibli/Fashion/BlibliFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='@')
data_blib = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Blibli/Furniture/BlibliFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='`')

In [ ]:
data_blib

                                                   text
0     ==============================================...
1     BlibliFurniture :: This test suite to test fun...
2     ==============================================...
3     BLIBLI Sort by Relevance                      ...
4                                              Rp15.000
...                                                 ...
4576                        5 tests, 5 passed, 0 failed
4577  ==============================================...
4578  Output:  E:\Programs\Informatics\Github\robotf...
4579  Log:     E:\Programs\Informatics\Github\robotf...
4580  Report:  E:\Programs\Informatics\Github\robotf...

[4581 rows x 1 columns]

In [ ]:
# deleting limiter or marked in every start of the page
data_blib = data_blib.iloc[0:-6]
def delete_mark(data):
  for i in range (len(data)):
    data[i] = re.sub(r'[\ ]+(VALID_DATA_BELOW)$', '', data[i])
    data[i] = re.sub(r'[\.]', '', data[i])

delete_mark(data_blib['text'])
data_blib['text'] = data_blib['text'].str.lower()
data_blib

                                                   text
0     ==============================================...
1     bliblifurniture :: this test suite to test fun...
2     ==============================================...
3                              blibli sort by relevance
4                                               rp15000
...                                                 ...
4570                                            rp50000
4571                                                20%
4572                                     kota tangerang
4573                                           | pass |
4574  ----------------------------------------------...

[4575 rows x 1 columns]

In [ ]:
tag_sort_rele = 'blibli sort by relevance'
tag_sort_lowe = 'blibli sort by lowest price'
tag_sort_high = 'blibli sort by highest price'
tag_filt_lowe = 'blibli filter by lowest price'
tag_filt_high = 'blibli filter by highest price'

def find_class(data, detail_data, marker):
  temp_list = list( map(int, data.index[(detail_data == marker)].tolist()) )
  return temp_list

tag_sort_rele_num = find_class(data_blib, data_blib['text'], tag_sort_rele)
tag_sort_lowe_num = find_class(data_blib, data_blib['text'], tag_sort_lowe)
tag_sort_high_num = find_class(data_blib, data_blib['text'], tag_sort_high)
tag_filt_lowe_num = find_class(data_blib, data_blib['text'], tag_filt_lowe)
tag_filt_high_num = find_class(data_blib, data_blib['text'], tag_filt_high)

tag_sort_rele_num = tag_sort_rele_num[0]
tag_sort_lowe_num = tag_sort_lowe_num[0]
tag_sort_high_num = tag_sort_high_num[0]
tag_filt_lowe_num = tag_filt_lowe_num[0]
tag_filt_high_num = tag_filt_high_num[0]

blib_sort_rele    =   data_blib.iloc[tag_sort_rele_num+1:tag_sort_lowe_num]
blib_sort_lowe    =   data_blib.iloc[tag_sort_lowe_num+1:tag_sort_high_num]
blib_sort_high    =   data_blib.iloc[tag_sort_high_num+1:tag_filt_lowe_num]
blib_filt_lowe    =   data_blib.iloc[tag_filt_lowe_num+1:tag_filt_high_num]
blib_filt_high    =   data_blib.iloc[tag_filt_high_num+1:]

blib_sort_rele.reset_index(inplace=True, drop=True)
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_high.reset_index(inplace=True, drop=True)
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
blib_sort_rele

                                                  text
0                                              rp15000
1    goto kora rak piring bumbu dapur kitchen rack ...
2                                  rp199900 - rp449900
3                                       kota tangerang
4                                                  5,0
..                                                 ...
895  birmo | keranjang telur buah besi hitam kotak ...
896                                           rp303000
897                                 kota jakarta barat
898                                           | pass |
899  ----------------------------------------------...

[900 rows x 1 columns]

## cleaning data

In [ ]:
def regexing_word(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^[\(]*[\d]{1,2}[\)]*$', 'deleted', data_details[i])           # rating tag
    data_details[i] = re.sub(r'(terjual) [0-9+]+[ ]*[rb+]*', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'(-){78}', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(grosir)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d\,\d$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d\%\(rp\d+\)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(voucher seller)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(pre\-order)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(tambah ke bag)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(hingga )[rp]*\d+\%*$', 'deleted', data_details[i])	
    data_details[i] = re.sub(r'^(promo sd)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d{0,2}( ags 2022)$', 'deleted', data_details[i])	
    data_details[i] = re.sub(r'^(anak)$', 'deleted', data_details[i])	
    data_details[i] = re.sub(r'^(coba tambahkan kata pencarian yang lebih spesifik\, seperti\:)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(valid_data_below)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(lihat detail)$', 'deleted', data_details[i])	

regexing_word(blib_sort_rele['text'])
regexing_word(blib_sort_lowe['text'])
regexing_word(blib_sort_high['text'])
regexing_word(blib_filt_lowe['text'])
regexing_word(blib_filt_high['text'])

blib_sort_rele = blib_sort_rele[blib_sort_rele['text'].str.contains("deleted")==False]
blib_sort_lowe = blib_sort_lowe[blib_sort_lowe['text'].str.contains("deleted")==False]
blib_sort_high = blib_sort_high[blib_sort_high['text'].str.contains("deleted")==False]
blib_filt_lowe = blib_filt_lowe[blib_filt_lowe['text'].str.contains("deleted")==False]
blib_filt_high = blib_filt_high[blib_filt_high['text'].str.contains("deleted")==False]

blib_sort_rele.reset_index(inplace=True, drop=True)
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_high.reset_index(inplace=True, drop=True)
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
blib_sort_rele

                                                  text
0                                              rp15000
1    goto kora rak piring bumbu dapur kitchen rack ...
2                                  rp199900 - rp449900
3                                       kota tangerang
4    kesi 11 keranjang besi rak bumbu dapur kamar m...
..                                                 ...
765                                 kota jakarta barat
766  birmo | keranjang telur buah besi hitam kotak ...
767                                           rp303000
768                                 kota jakarta barat
769                                           | pass |

[770 rows x 1 columns]

In [ ]:
keyw_1 = '%'
keyw_2 = 'rp'
keyw_3 = '| pass |'


def removing_word(data_details):
  for i in range (len(data_details)):
    if keyw_2 in data_details[i]:
      if keyw_2 in data_details[i+1]:
        if keyw_1 in data_details[i+2]:
          data_details[i+1] = 'deleted'
          data_details[i+2] = 'deleted'
      else:
        continue
    elif keyw_3 in data_details[i]:
      data_details[i] = 'deleted'
    else:
      continue

removing_word(blib_sort_rele['text'])
removing_word(blib_sort_lowe['text'])
removing_word(blib_sort_high['text'])
removing_word(blib_filt_lowe['text'])
removing_word(blib_filt_high['text'])

blib_sort_rele = blib_sort_rele[blib_sort_rele['text'].str.contains("deleted")==False]
blib_sort_lowe = blib_sort_lowe[blib_sort_lowe['text'].str.contains("deleted")==False]
blib_sort_high = blib_sort_high[blib_sort_high['text'].str.contains("deleted")==False]
blib_filt_lowe = blib_filt_lowe[blib_filt_lowe['text'].str.contains("deleted")==False]
blib_filt_high = blib_filt_high[blib_filt_high['text'].str.contains("deleted")==False]

blib_sort_rele.reset_index(inplace=True, drop=True)
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_high.reset_index(inplace=True, drop=True)
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
blib_sort_rele

                                                  text
0                                              rp15000
1    goto kora rak piring bumbu dapur kitchen rack ...
2                                  rp199900 - rp449900
3                                       kota tangerang
4    kesi 11 keranjang besi rak bumbu dapur kamar m...
..                                                 ...
640                                           rp127300
641                                 kota jakarta barat
642  birmo | keranjang telur buah besi hitam kotak ...
643                                           rp303000
644                                 kota jakarta barat

[645 rows x 1 columns]

In [ ]:
keyw_1 = 'rp'

def remove_unused_price(data_details):
  i = 0
  while i in range (len(data_details)-2):
    if re.match('^rp\d+( - rp)*\d*$', data_details[i]):
      if re.match('^rp\d+( - rp)*\d*$', data_details[i+2]):
        data_details[i+2] = 'deleted'
        i+=1
      else:
        i+=1
    else:
      i+=1

remove_unused_price(blib_sort_rele['text'])
remove_unused_price(blib_sort_lowe['text'])
remove_unused_price(blib_sort_high['text'])
remove_unused_price(blib_filt_lowe['text'])
remove_unused_price(blib_filt_high['text'])

blib_sort_rele = blib_sort_rele[blib_sort_rele['text'].str.contains("deleted")==False]
blib_sort_lowe = blib_sort_lowe[blib_sort_lowe['text'].str.contains("deleted")==False]
blib_sort_high = blib_sort_high[blib_sort_high['text'].str.contains("deleted")==False]
blib_filt_lowe = blib_filt_lowe[blib_filt_lowe['text'].str.contains("deleted")==False]
blib_filt_high = blib_filt_high[blib_filt_high['text'].str.contains("deleted")==False]

blib_sort_rele.reset_index(inplace=True, drop=True)
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_high.reset_index(inplace=True, drop=True)
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
blib_sort_rele

                                                  text
0                                              rp15000
1    goto kora rak piring bumbu dapur kitchen rack ...
2                                       kota tangerang
3    kesi 11 keranjang besi rak bumbu dapur kamar m...
4                                              rp15900
..                                                 ...
610                                           rp127300
611                                 kota jakarta barat
612  birmo | keranjang telur buah besi hitam kotak ...
613                                           rp303000
614                                 kota jakarta barat

[615 rows x 1 columns]

In [ ]:
keyw_1 = 'rp'

def remove_unused_words(data_details):
  for i in range (len(data_details)):
    if re.match('^rp\d+( - rp)*\d*$', data_details[i]):
      data_details[i+1] = 'deleted'
    else:
      continue

remove_unused_words(blib_sort_rele['text'])
remove_unused_words(blib_sort_lowe['text'])
remove_unused_words(blib_sort_high['text'])
remove_unused_words(blib_filt_lowe['text'])
remove_unused_words(blib_filt_high['text'])

blib_sort_rele = blib_sort_rele[blib_sort_rele['text'].str.contains("deleted")==False]
blib_sort_lowe = blib_sort_lowe[blib_sort_lowe['text'].str.contains("deleted")==False]
blib_sort_high = blib_sort_high[blib_sort_high['text'].str.contains("deleted")==False]
blib_filt_lowe = blib_filt_lowe[blib_filt_lowe['text'].str.contains("deleted")==False]
blib_filt_high = blib_filt_high[blib_filt_high['text'].str.contains("deleted")==False]

blib_sort_rele.reset_index(inplace=True, drop=True)
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_high.reset_index(inplace=True, drop=True)
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
def removing_pricetag(data):
  data.replace('rp','',regex=True, inplace=True)

removing_pricetag(blib_sort_rele)
removing_pricetag(blib_sort_lowe)
removing_pricetag(blib_sort_high)
removing_pricetag(blib_filt_lowe)
removing_pricetag(blib_filt_high)

In [ ]:
blib_sort_rele

                                                  text
0                                                15000
1                                       kota tangerang
2    kesi 11 keranjang besi rak bumbu dapur kamar m...
3                                                15900
4    as nordic iron bread basket fruit basket keran...
..                                                 ...
405                                             164300
406  iron storage basket steel / keranjang penyimpa...
407                                             127300
408  birmo | keranjang telur buah besi hitam kotak ...
409                                             303000

[410 rows x 1 columns]

# sort by relevance

### clearing digit

In [ ]:
def removing_digit(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^\d+( - )*\d*$', 'deleted', data_details[i])
removing_digit(blib_sort_rele['text'])

blib_sort_rele = blib_sort_rele[blib_sort_rele['text'].str.contains("deleted")==False]
blib_sort_rele.reset_index(inplace=True, drop=True)

In [ ]:
blib_sort_rele

                                                  text
0                                       kota tangerang
1    kesi 11 keranjang besi rak bumbu dapur kamar m...
2    as nordic iron bread basket fruit basket keran...
3    as nordic iron bread basket fruit basket keran...
4    as nordic iron bread basket fruit basket keran...
..                                                 ...
200  tempat sampah / keranjang kotak jaring besi wa...
201  laundry bag besi keranjang baju pakaian kotor ...
202  tempat / keranjang sampah kotak jaring besi wa...
203  iron storage basket steel / keranjang penyimpa...
204  birmo | keranjang telur buah besi hitam kotak ...

[205 rows x 1 columns]

### electronic

In [ ]:
elec_1 = ('case')
elec_2 = ('redmi')
elec_3 = ('10a')
elec_4 = ('10 a')

def elec_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if elec_1 in data_details[i]:
      if elec_2 in data_details[i]:
        if elec_3 in data_details[i]:
          continue
        if elec_4 in data_details[i]:
          continue
        else:
          falseCounter+=1
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance blibli: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### fashion

In [ ]:
fash_1 = ('sweater')
fash_2 = ('rajut')

def fash_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if fash_1 in data_details[i]:
      if fash_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance blibli: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### furniture

In [ ]:
furn_1 = ('keranjang')
furn_2 = ('besi')

def furn_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if furn_1 in data_details[i]:
      if furn_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance blibli: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### main

In [ ]:
# elec_chec_keyw(blib_sort_rele['text'])
# fash_chec_keyw(blib_sort_rele['text'])
furn_chec_keyw(blib_sort_rele['text'])

accuracy of sort by relevance blibli:  0.9658536585365853

In [ ]:
blib_sort_rele

                                                  text
0                                       kota tangerang
1    kesi 11 keranjang besi rak bumbu dapur kamar m...
2    as nordic iron bread basket fruit basket keran...
3    as nordic iron bread basket fruit basket keran...
4    as nordic iron bread basket fruit basket keran...
..                                                 ...
200  tempat sampah / keranjang kotak jaring besi wa...
201  laundry bag besi keranjang baju pakaian kotor ...
202  tempat / keranjang sampah kotak jaring besi wa...
203  iron storage basket steel / keranjang penyimpa...
204  birmo | keranjang telur buah besi hitam kotak ...

[205 rows x 1 columns]

# sort by lowest price

In [ ]:
blib_sort_lowe

                                                  text
0                    gantungan dinding hook transparan
1                                                 1050
2                         parutan kelapa lokal abu abu
3                                          6100 - 7200
4    oem rb-c474 desktop storage box keranjang peny...
..                                                 ...
396                                              82650
397         smy official rak sudut tempel serbaguna 12
398                                              82856
399                  smy rak sudut tempel serbaguna 12
400                                              82856

[401 rows x 1 columns]

In [ ]:
blib_sort_lowe.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
blib_sort_lowe = blib_sort_lowe[blib_sort_lowe['text'].str.contains('^[0-9]+$')]
blib_sort_lowe.reset_index(inplace=True, drop=True)
blib_sort_lowe['text'] = blib_sort_lowe['text'].astype(int)
blib_sort_lowe

      text
0     1050
1     6100
2     6398
3     8500
4     9000
..     ...
195  82000
196  82650
197  82650
198  82856
199  82856

[200 rows x 1 columns]

In [ ]:
def check_sort_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by lowest price in blibli, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_lowest(blib_sort_lowe['text'])

there are  0  miss on sort by lowest price in blibli, accuracy:  1.0

# sort by highest

In [ ]:
blib_sort_high

                                                  text
0                      paket start up laundry kode 347
1                                             21231000
2    paket usaha laundry terlaris 15jt al new (tanp...
3                                             18900000
4    panci wajan set granit anti lengket boboko gra...
..                                                 ...
395                                             472000
396  keranjang penyimpanan model gantung bahan besi...
397                                             472000
398  keranjang penyimpanan model gantung bahan besi...
399                                             472000

[400 rows x 1 columns]

In [ ]:
blib_sort_high.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
blib_sort_high = blib_sort_high[blib_sort_high['text'].str.contains('^[0-9]+$')]
blib_sort_high.reset_index(inplace=True, drop=True)
blib_sort_high['text'] = blib_sort_high['text'].astype(int)
blib_sort_high

         text
0    21231000
1    18900000
2     2604000
3     2589000
4     2292000
..        ...
195    472000
196    472000
197    472000
198    472000
199    472000

[200 rows x 1 columns]

In [ ]:
def check_sort_highest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by highest price in shopee, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_highest(blib_sort_high['text'])

there are  0  miss on sort by highest price in shopee, accuracy:  1.0

# filter by lowest price

In [ ]:
blib_filt_lowe

                                                  text
0    keranjang storage box mini organizer kotak pen...
1                                                12947
2    dejavu rak kran westafel tempat sabun cuci pir...
3                                        15000 - 39000
4    kesi 11 keranjang besi rak bumbu dapur kamar m...
..                                                 ...
396                                              84900
397  ugo keranjang tempat sampah kawat besi bulat r...
398                                              85000
399  baru rak penyimpanan sabun dll keranjang penyi...
400                                              85000

[401 rows x 1 columns]

In [ ]:
blib_filt_lowe.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
blib_filt_lowe = blib_filt_lowe[blib_filt_lowe['text'].str.contains('^[0-9]+$')]
blib_filt_lowe.reset_index(inplace=True, drop=True)
blib_filt_lowe['text'] = blib_filt_lowe['text'].astype(int)
blib_filt_lowe

      text
0    12947
1    15000
2    15900
3    17900
4    18700
..     ...
195  82900
196  83600
197  84900
198  85000
199  85000

[200 rows x 1 columns]

In [ ]:
minimum_price = 10000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= minimum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by lowest price in shopee, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(blib_filt_lowe['text'])

there are  0  miss on filter by lowest price in shopee,  accuracy:  1.0

# filter by highest price

In [ ]:
blib_filt_high

                                                  text
0    rak gantungan barang keran kran air peralatan ...
1                                               100000
2    storage box organizer multifungsi bag keranjan...
3                                                99750
4    gratis ongkir keranjang buah kotak gold kode n...
..                                                 ...
395                                              39900
396  parutan bawang garlic grater penghancur pengha...
397                                              39900
398  rak gantungan barang keran air peralatan dapur...
399                                              39800

[400 rows x 1 columns]

In [ ]:
blib_filt_high.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
blib_filt_high = blib_filt_high[blib_filt_high['text'].str.contains('^[0-9]+$')]
blib_filt_high.reset_index(inplace=True, drop=True)
blib_filt_high['text'] = blib_filt_high['text'].astype(int)
blib_filt_high

       text
0    100000
1     99750
2     99500
3     99000
4     99000
..      ...
195   41000
196   39900
197   39900
198   39900
199   39800

[200 rows x 1 columns]

In [ ]:
maximum_price = 100000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= maximum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by highest price in blibli, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(blib_filt_high['text'])

there are  0  miss on filter by highest price in blibli,  accuracy:  1.0