# prepare

## splitting data

In [ ]:
# import needed libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sys
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Shopee/Electronic/ShopeeElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Shopee/Fashion/ShopeeFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Shopee/Furniture/ShopeeFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')

# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Shopee/Electronic/ShopeeElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Shopee/Fashion/ShopeeFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Shopee/Furniture/ShopeeFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')

# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Shopee/Electronic/ShopeeElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
# data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Shopee/Fashion/ShopeeFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_shop = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Shopee/Furniture/ShopeeFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')

In [ ]:
# deleting limiter or marked in every start of the page
data_shop = data_shop.iloc[0:-6]
def delete_mark(data):
  for i in range (len(data)):
    data[i] = re.sub(r'[\ ]+(VALID_DATA_BELOW)$', '', data[i])
    data[i] = re.sub(r'[\.]', '', data[i])

delete_mark(data_shop['text'])
data_shop['text'] = data_shop['text'].str.lower()

In [ ]:
tag_sort_rele = 'shopee sort by relevance'
tag_sort_lowe = 'shopee sort by lowest price'
tag_sort_high = 'shopee sort by highest price'
tag_filt_lowe = 'shopee filter by lowest price'
tag_filt_high = 'shopee filter by highest price'

def find_class(data, detail_data, marker):
  temp_list = list( map(int, data.index[(detail_data == marker)].tolist()) )
  return temp_list

tag_sort_rele_num = find_class(data_shop, data_shop['text'], tag_sort_rele)
tag_sort_lowe_num = find_class(data_shop, data_shop['text'], tag_sort_lowe)
tag_sort_high_num = find_class(data_shop, data_shop['text'], tag_sort_high)
tag_filt_lowe_num = find_class(data_shop, data_shop['text'], tag_filt_lowe)
tag_filt_high_num = find_class(data_shop, data_shop['text'], tag_filt_high)

tag_sort_rele_num = tag_sort_rele_num[0]
tag_sort_lowe_num = tag_sort_lowe_num[0]
tag_sort_high_num = tag_sort_high_num[0]
tag_filt_lowe_num = tag_filt_lowe_num[0]
tag_filt_high_num = tag_filt_high_num[0]

shop_sort_rele    =   data_shop.iloc[tag_sort_rele_num+1:tag_sort_lowe_num]
shop_sort_lowe    =   data_shop.iloc[tag_sort_lowe_num+1:tag_sort_high_num]
shop_sort_high    =   data_shop.iloc[tag_sort_high_num+1:tag_filt_lowe_num]
shop_filt_lowe    =   data_shop.iloc[tag_filt_lowe_num+1:tag_filt_high_num]
shop_filt_high    =   data_shop.iloc[tag_filt_high_num+1:]

shop_sort_rele.reset_index(inplace=True, drop=True)
shop_sort_lowe.reset_index(inplace=True, drop=True)
shop_sort_high.reset_index(inplace=True, drop=True)
shop_filt_lowe.reset_index(inplace=True, drop=True)
shop_filt_high.reset_index(inplace=True, drop=True)

## cleaning data

In [ ]:
shop_sort_rele

                                                   text
0                                                  star
1                                                   45%
2                                                   off
3                                                 iklan
4     [bisa cod] ready keranjang meshboard (ada peng...
...                                                 ...
1648                                          diskon 7%
1649                                rp699900 - rp909000
1650                                        200 terjual
1651                                           | pass |
1652  ----------------------------------------------...

[1653 rows x 1 columns]

In [ ]:
def regexing_word(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^iklan$', 'deleted', data_details[i])                      # ad tag
    data_details[i] = re.sub(r'^star$', 'deleted', data_details[i])           # rating tag
    data_details[i] = re.sub(r'(^[\d]+[,]*[\d]*[ rb+]*( terjual)+)', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'^off$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d{0,2}$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(-){78}', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(grosir)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(produk serupa)$', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'^(kombo hemat)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(murah lebay)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(hadiah gratis)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(diskon)[ ]+[rp \d\%\.]+', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d{1,2}\%$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(cashback)[ ]\d+\%$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(valid_data_below)$', 'deleted', data_details[i])

regexing_word(shop_sort_rele['text'])
regexing_word(shop_sort_lowe['text'])
regexing_word(shop_sort_high['text'])
regexing_word(shop_filt_lowe['text'])
regexing_word(shop_filt_high['text'])

shop_sort_rele = shop_sort_rele[shop_sort_rele['text'].str.contains("deleted")==False]
shop_sort_lowe = shop_sort_lowe[shop_sort_lowe['text'].str.contains("deleted")==False]
shop_sort_high = shop_sort_high[shop_sort_high['text'].str.contains("deleted")==False]
shop_filt_lowe = shop_filt_lowe[shop_filt_lowe['text'].str.contains("deleted")==False]
shop_filt_high = shop_filt_high[shop_filt_high['text'].str.contains("deleted")==False]

shop_sort_rele.reset_index(inplace=True, drop=True)
shop_sort_lowe.reset_index(inplace=True, drop=True)
shop_sort_high.reset_index(inplace=True, drop=True)
shop_filt_lowe.reset_index(inplace=True, drop=True)
shop_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
shop_sort_rele

                                                  text
0    [bisa cod] ready keranjang meshboard (ada peng...
1                                     rp9500 - rp16500
2    keranjang kulkas / freezer ice cream dan frooz...
3                                   rp18000 - rp126000
4    es rak lantai beroda rak penyimpanan serbaguna...
..                                                 ...
679  inaso kotak penyimpanan storage box kotak peny...
680                                  rp15500 - rp55500
681  rak serbaguna besi gudang 5 susun barang toko ...
682                                rp699900 - rp909000
683                                           | pass |

[684 rows x 1 columns]

In [ ]:
keyw_1 = 'rp'
keyw_2 = '%'
keyw_3 = '| pass |'


def removing_word(data_details):
  for i in range (len(data_details)):
    if re.match('^rp\d+$', data_details[i]):
      if re.match('^rp\d+$', data_details[i+1]):
          data_details[i] = 'deleted'
      else:
        continue
    elif keyw_3 in data_details[i]:
      data_details[i] = 'deleted'
    elif re.match('(pilih )\d', data_details[i]):
      data_details[i] = 'deleted'
    else:
      continue

removing_word(shop_sort_rele['text'])
removing_word(shop_sort_lowe['text'])
removing_word(shop_sort_high['text'])
removing_word(shop_filt_lowe['text'])
removing_word(shop_filt_high['text'])

shop_sort_rele = shop_sort_rele[shop_sort_rele['text'].str.contains("deleted")==False]
shop_sort_lowe = shop_sort_lowe[shop_sort_lowe['text'].str.contains("deleted")==False]
shop_sort_high = shop_sort_high[shop_sort_high['text'].str.contains("deleted")==False]
shop_filt_lowe = shop_filt_lowe[shop_filt_lowe['text'].str.contains("deleted")==False]
shop_filt_high = shop_filt_high[shop_filt_high['text'].str.contains("deleted")==False]

shop_sort_rele.reset_index(inplace=True, drop=True)
shop_sort_lowe.reset_index(inplace=True, drop=True)
shop_sort_high.reset_index(inplace=True, drop=True)
shop_filt_lowe.reset_index(inplace=True, drop=True)
shop_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
shop_sort_rele

                                                  text
0    [bisa cod] ready keranjang meshboard (ada peng...
1                                     rp9500 - rp16500
2    keranjang kulkas / freezer ice cream dan frooz...
3                                   rp18000 - rp126000
4    es rak lantai beroda rak penyimpanan serbaguna...
..                                                 ...
600                                rp298000 - rp398000
601  inaso kotak penyimpanan storage box kotak peny...
602                                  rp15500 - rp55500
603  rak serbaguna besi gudang 5 susun barang toko ...
604                                rp699900 - rp909000

[605 rows x 1 columns]

In [ ]:
keyw_1 = 'rp'

def remove_unused_words(data_details):
  for i in range (len(data_details)-2):
    if re.match('^rp\d+( - rp)*\d*$', data_details[i]):
      if re.match('^rp\d+( - rp)*\d*$', data_details[i+2]):
        continue
      else:
        data_details[i+1] = 'deleted'
    elif re.match('^(diskon )(rp)\d(rb)',data_details[i]):
      data_details[i] = 'deleted'
    else:
      continue
  data_details[len(data_details)-1] = 'deleted'

remove_unused_words(shop_sort_rele['text'])
remove_unused_words(shop_sort_lowe['text'])
remove_unused_words(shop_sort_high['text'])
remove_unused_words(shop_filt_lowe['text'])
remove_unused_words(shop_filt_high['text'])

shop_sort_rele = shop_sort_rele[shop_sort_rele['text'].str.contains("deleted")==False]
shop_sort_lowe = shop_sort_lowe[shop_sort_lowe['text'].str.contains("deleted")==False]
shop_sort_high = shop_sort_high[shop_sort_high['text'].str.contains("deleted")==False]
shop_filt_lowe = shop_filt_lowe[shop_filt_lowe['text'].str.contains("deleted")==False]
shop_filt_high = shop_filt_high[shop_filt_high['text'].str.contains("deleted")==False]

shop_sort_rele.reset_index(inplace=True, drop=True)
shop_sort_lowe.reset_index(inplace=True, drop=True)
shop_sort_high.reset_index(inplace=True, drop=True)
shop_filt_lowe.reset_index(inplace=True, drop=True)
shop_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
shop_sort_rele

                                                  text
0    [bisa cod] ready keranjang meshboard (ada peng...
1                                     rp9500 - rp16500
2    keranjang kulkas / freezer ice cream dan frooz...
3                                   rp18000 - rp126000
4    es rak lantai beroda rak penyimpanan serbaguna...
..                                                 ...
594  siv 2 susun rak pengering piring stainless rak...
595                                rp298000 - rp398000
596  inaso kotak penyimpanan storage box kotak peny...
597                                  rp15500 - rp55500
598  rak serbaguna besi gudang 5 susun barang toko ...

[599 rows x 1 columns]

In [ ]:
def removing_pricetag(data):
  data.replace('rp','',regex=True, inplace=True)

removing_pricetag(shop_sort_rele)
removing_pricetag(shop_sort_lowe)
removing_pricetag(shop_sort_high)
removing_pricetag(shop_filt_lowe)
removing_pricetag(shop_filt_high)

# sort by relevance

### clearing digit

In [ ]:
def removing_digit(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^\d+( - )*\d*$', 'deleted', data_details[i])
removing_digit(shop_sort_rele['text'])

shop_sort_rele = shop_sort_rele[shop_sort_rele['text'].str.contains("deleted")==False]
shop_sort_rele.reset_index(inplace=True, drop=True)

In [ ]:
shop_sort_rele

                                                  text
0    [bisa cod] ready keranjang meshboard (ada peng...
1    keranjang kulkas / freezer ice cream dan frooz...
2    es rak lantai beroda rak penyimpanan serbaguna...
3    keranjang gantung multifungsi ( part panel grid )
4    (termurah) hijang hiasan dinding wire grid ker...
..                                                 ...
295  kotak penyimpanan dokumen tas organizer pemega...
296  rak kosmetik tingkat / rak meja serbaguna / ra...
297  siv 2 susun rak pengering piring stainless rak...
298  inaso kotak penyimpanan storage box kotak peny...
299  rak serbaguna besi gudang 5 susun barang toko ...

[300 rows x 1 columns]

### electronic

In [ ]:
elec_1 = ('case')
elec_2 = ('redmi')
elec_3 = ('10a')
elec_4 = ('10 a')

def elec_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if elec_1 in data_details[i]:
      if elec_2 in data_details[i]:
        if elec_3 in data_details[i]:
          continue
        if elec_4 in data_details[i]:
          continue
        else:
          falseCounter+=1
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance shopee: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### fashion

In [ ]:
fash_1 = ('sweater')
fash_2 = ('rajut')

def fash_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if fash_1 in data_details[i]:
      if fash_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance shopee: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### furniture

In [ ]:
furn_1 = ('keranjang')
furn_2 = ('besi')

def furn_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if furn_1 in data_details[i]:
      if furn_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance shopee: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### main

In [ ]:
# elec_chec_keyw(shop_sort_rele['text'])
# fash_chec_keyw(shop_sort_rele['text'])
furn_chec_keyw(shop_sort_rele['text'])

accuracy of sort by relevance shopee:  0.5366666666666666

In [ ]:
shop_sort_rele

                                                  text
0    [bisa cod] ready keranjang meshboard (ada peng...
1    keranjang kulkas / freezer ice cream dan frooz...
2    es rak lantai beroda rak penyimpanan serbaguna...
3    keranjang gantung multifungsi ( part panel grid )
4    (termurah) hijang hiasan dinding wire grid ker...
..                                                 ...
295  kotak penyimpanan dokumen tas organizer pemega...
296  rak kosmetik tingkat / rak meja serbaguna / ra...
297  siv 2 susun rak pengering piring stainless rak...
298  inaso kotak penyimpanan storage box kotak peny...
299  rak serbaguna besi gudang 5 susun barang toko ...

[300 rows x 1 columns]

# sort by lowest price

In [ ]:
shop_sort_lowe

                                                  text
0    aphome keranjang besi estetik anti karat metal...
1                                               109000
2    metal fruit basket 3 tingkat / nampan wadah te...
3                                               239000
4    keranjang baju jumbo 75l cucian pakaian kotor ...
..                                                 ...
594  alobon rak penyimpanan serbaguna/ tempat penyi...
595                                             199000
596  versi menebal 4 lapisan rak tanaman rak dapur ...
597                                    199000 - 500000
598  alobon organizer box transparent organizer pen...

[599 rows x 1 columns]

In [ ]:
shop_sort_lowe.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
shop_sort_lowe = shop_sort_lowe[shop_sort_lowe['text'].str.contains('^[0-9]+$')]
shop_sort_lowe.reset_index(inplace=True, drop=True)
shop_sort_lowe['text'] = shop_sort_lowe['text'].astype(int)
shop_sort_lowe

       text
0    109000
1    239000
2     43099
3     13000
4     59500
..      ...
294   61000
295    5842
296   10000
297  199000
298  199000

[299 rows x 1 columns]

In [ ]:
def check_sort_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by lowest price in shopee, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_lowest(shop_sort_lowe['text'])

false on price  1   239000  then  43099
false on price  2   43099  then  13000
false on price  4   59500  then  500
false on price  56   141000  then  30800
false on price  59   151371  then  133500
false on price  60   133500  then  17500
false on price  62   48000  then  35000
false on price  63   35000  then  25000
false on price  64   25000  then  8448
false on price  117   119000  then  9000
false on price  119   14600  then  6000
false on price  124   59000  then  15000
false on price  175   109000  then  64000
false on price  177   199000  then  79000
false on price  179   105780  then  4000
false on price  181   59900  then  34000
false on price  182   34000  then  6440
false on price  185   139000  then  35000
false on price  237   159000  then  95000
false on price  238   95000  then  24900
false on price  240   65000  then  12000
false on price  242   141000  then  35000
false on price  243   35000  then  9000
false on price  294   61000  then  5842
there are  24  miss on sort by lowest price in shopee, accuracy:  0.919732441471572

# sort by highest price

In [ ]:
shop_sort_high

                                                  text
0    keranjang multifungsi bisa untuk tempat pakaia...
1                                                30000
2    tempat tidur dipan sandaran zinus geraldine / ...
3                                     948000 - 1498000
4    metal fruit basket 3 tingkat / nampan wadah te...
..                                                 ...
594  kotak penyimpanan serbaguna | bin organizer mu...
595                                      14600 - 59900
596  ?tec? nomu rak buku / laptop organizer rak kay...
597                                    129000 - 249000
598  (cod) rak rak keranjang buah dan sayur lipat d...

[599 rows x 1 columns]

In [ ]:
shop_sort_high.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
shop_sort_high = shop_sort_high[shop_sort_high['text'].str.contains('^[0-9]+$')]
shop_sort_high.reset_index(inplace=True, drop=True)
shop_sort_high['text'] = shop_sort_high['text'].astype(int)
shop_sort_high

        text
0      30000
1     948000
2     239000
3    1155000
4     882000
..       ...
294    61000
295   135000
296    27000
297    14600
298   129000

[299 rows x 1 columns]

In [ ]:
def check_sort_highest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by highest price in shopee, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_highest(shop_sort_high['text'])

false on price  0   30000  then  948000
false on price  2   239000  then  1155000
false on price  4   882000  then  950000
false on price  9   630000  then  680107
false on price  55   109000  then  141000
false on price  56   141000  then  544500
false on price  60   43099  then  133500
false on price  61   133500  then  199000
false on price  62   199000  then  316000
false on price  64   59900  then  185000
false on price  116   13000  then  119000
false on price  117   119000  then  239000
false on price  119   109000  then  199000
false on price  120   199000  then  500000
false on price  122   159000  then  199000
false on price  124   59000  then  130000
false on price  175   48000  then  229000
false on price  178   105780  then  139000
false on price  180   17500  then  125000
false on price  182   35000  then  141000
false on price  183   141000  then  199000
false on price  185   79000  then  94000
false on price  238   25000  then  175000
false on price  240   59900  then  160000
false on price  242   95000  then  129000
false on price  294   61000  then  135000
false on price  297   14600  then  129000
there are  27  miss on sort by highest price in shopee, accuracy:  0.9096989966555183

# filter by lowest price

In [ ]:
shop_filt_lowe

                                                  text
0    metal fruit basket 3 tingkat / nampan wadah te...
1                                               239000
2    tempat keranjang serbaguna rak standing baju c...
3                                                35000
4    keranjang baju kotor keranjang baju warna serb...
..                                                 ...
594  rak pot bunga / rak balkon / rak panel grid an...
595                                              16000
596  dejavu tempat sampah jaring besi hitam tong sa...
597                                              32550
598  basic home keranjang penyimpanan serbaguna / k...

[599 rows x 1 columns]

In [ ]:
shop_filt_lowe.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
shop_filt_lowe = shop_filt_lowe[shop_filt_lowe['text'].str.contains('^[0-9]+$')]
shop_filt_lowe.reset_index(inplace=True, drop=True)
shop_filt_lowe['text'] = shop_filt_lowe['text'].astype(int)

In [ ]:
minimum_price = 10000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= minimum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by lowest price in shopee, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(shop_filt_lowe['text'])

there are  0  miss on filter by lowest price in shopee,  accuracy:  1.0

# filter by highest price

In [ ]:
shop_filt_high

                                                  text
0    storage box rotan besar rota / box penyimpanan...
1                                       84950 - 249500
2    ringo basket keranjang penyimpanan buah apple-...
3                                                90000
4    inaso kernjang box besi keranjang penyimpanan ...
..                                                 ...
594  storage box dengan tutup | kotak penyimpanan s...
595                                      19900 - 59000
596  (termurah) hijang 52x35 cm hiasan dinding besi...
597                                              27000
598  container box penyimpanan serbaguna / box ukur...

[599 rows x 1 columns]

In [ ]:
shop_filt_high.replace('( - )([0-9]+[0-9]+)','',regex=True, inplace=True)
shop_filt_high = shop_filt_high[shop_filt_high['text'].str.contains('^[0-9]+$')]
shop_filt_high.reset_index(inplace=True, drop=True)
shop_filt_high['text'] = shop_filt_high['text'].astype(int)
shop_filt_high

      text
0    84950
1    90000
2    59900
3    35000
4    59000
..     ...
294  37000
295   9000
296  21660
297  19900
298  27000

[299 rows x 1 columns]

In [ ]:
maximum_price = 100000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= maximum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by highest price in shopee, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(shop_filt_high['text'])

there are  0  miss on filter by highest price in shopee,  accuracy:  1.0