# prepare

## splitting data

In [ ]:
# import needed libraries

import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# read data

data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Tokopedia/Electronic/TokopediaElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Tokopedia/Fashion/TokopediaFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Tokopedia/Furniture/TokopediaFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')

data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Tokopedia/Electronic/TokopediaElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Tokopedia/Fashion/TokopediaFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Tokopedia/Furniture/TokopediaFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')

data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Tokopedia/Electronic/TokopediaElectronic.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Tokopedia/Fashion/TokopediaFashion.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore')
data_toko = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Tokopedia/Furniture/TokopediaFurniture.txt", on_bad_lines='skip', names=['text'], encoding_errors='ignore', sep='@')

In [ ]:
# deleting limiter or marked in every start of the page
data_toko = data_toko.iloc[0:-6]
def delete_mark(data):
  for i in range (len(data)):
    data[i] = re.sub(r'[\ ]+(VALID_DATA_BELOW)$', '', data[i])
    data[i] = re.sub(r'[\.]', '', data[i])

delete_mark(data_toko['text'])
data_toko['text'] = data_toko['text'].str.lower()

In [ ]:
data_toko

                                                   text
0     ==============================================...
1     tokopediaelectronic :: this test suite to test...
2     ==============================================...
3                           tokopedia sort by relevance
4                                                    ad
...                                                 ...
9560                                 best accesories hp
9561                                                 49
9562                                        terjual 60+
9563                                           | pass |
9564  ----------------------------------------------...

[9565 rows x 1 columns]

In [ ]:
tag_sort_rele = 'tokopedia sort by relevance'
tag_sort_lowe = 'tokopedia sort by lowest price'
tag_sort_high = 'tokopedia sort by highest price'
tag_filt_lowe = 'tokopedia filter by lowest price'
tag_filt_high = 'tokopedia filter by highest price'

def find_class(data, detail_data, marker):
  temp_list = list( map(int, data.index[(detail_data == marker)].tolist()) )
  return temp_list

tag_sort_rele_num = find_class(data_toko, data_toko['text'], tag_sort_rele)
tag_sort_lowe_num = find_class(data_toko, data_toko['text'], tag_sort_lowe)
tag_sort_high_num = find_class(data_toko, data_toko['text'], tag_sort_high)
tag_filt_lowe_num = find_class(data_toko, data_toko['text'], tag_filt_lowe)
tag_filt_high_num = find_class(data_toko, data_toko['text'], tag_filt_high)

tag_sort_rele_num = tag_sort_rele_num[0]
tag_sort_lowe_num = tag_sort_lowe_num[0]
tag_sort_high_num = tag_sort_high_num[0]
tag_filt_lowe_num = tag_filt_lowe_num[0]
tag_filt_high_num = tag_filt_high_num[0]

toko_sort_rele    =   data_toko.iloc[tag_sort_rele_num+1:tag_sort_lowe_num]
toko_sort_lowe    =   data_toko.iloc[tag_sort_lowe_num+1:tag_sort_high_num]
toko_sort_high    =   data_toko.iloc[tag_sort_high_num+1:tag_filt_lowe_num]
toko_filt_lowe    =   data_toko.iloc[tag_filt_lowe_num+1:tag_filt_high_num]
toko_filt_high    =   data_toko.iloc[tag_filt_high_num+1:]

toko_sort_rele.reset_index(inplace=True, drop=True)
toko_sort_lowe.reset_index(inplace=True, drop=True)
toko_sort_high.reset_index(inplace=True, drop=True)
toko_filt_lowe.reset_index(inplace=True, drop=True)
toko_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
tag_filt_high_num

7609

## cleaning data

In [ ]:
def regexing_word(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^ad$', 'deleted', data_details[i])                      # ad tag
    data_details[i] = re.sub(r'^\d\d$', 'deleted', data_details[i])           # rating tag
    data_details[i] = re.sub(r'(terjual) [0-9+]+[ ]*[rb+]*', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'(sisa) [0-9+]+', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(-){78}', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(grosir)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(produk terbaru)$', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'^(cashback)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(preorder)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(terlaris)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(tokopedia tekno)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(super gadget day)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(galeri fashion)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(lagi trending)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(cantik fest)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(women in style)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(selalu os)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(sportacular)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(ktp medan)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(tokopedia garage)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(tokopediaparents)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(home living sale)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(valid_data_below)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(pasti surabaya)$', 'deleted', data_details[i])

regexing_word(toko_sort_rele['text'])
regexing_word(toko_sort_lowe['text'])
regexing_word(toko_sort_high['text'])
regexing_word(toko_filt_lowe['text'])
regexing_word(toko_filt_high['text'])

toko_sort_rele = toko_sort_rele[toko_sort_rele['text'].str.contains("deleted")==False]
toko_sort_lowe = toko_sort_lowe[toko_sort_lowe['text'].str.contains("deleted")==False]
toko_sort_high = toko_sort_high[toko_sort_high['text'].str.contains("deleted")==False]
toko_filt_lowe = toko_filt_lowe[toko_filt_lowe['text'].str.contains("deleted")==False]
toko_filt_high = toko_filt_high[toko_filt_high['text'].str.contains("deleted")==False]

toko_sort_rele.reset_index(inplace=True, drop=True)
toko_sort_lowe.reset_index(inplace=True, drop=True)
toko_sort_high.reset_index(inplace=True, drop=True)
toko_filt_lowe.reset_index(inplace=True, drop=True)
toko_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
toko_sort_lowe

                                                   text
0     new case xiaomi redmi 10a dan redmi 10c - sili...
1                                                rp1500
2                                         kab tangerang
3                                            1112 store
4     new case xiaomi redmi 10a dan redmi 10c - sili...
...                                                 ...
1316              case tpu print xiaomi redmi 9c 10a #3
1317                                            rp11900
1318                                    jakarta selatan
1319                                          axton_acc
1320                                           | pass |

[1321 rows x 1 columns]

In [ ]:
keyw_1 = '%'
keyw_2 = 'rp'
keyw_3 = '| pass |'


def removing_word(data_details):
  for i in range (len(data_details)):
    if keyw_1 in data_details[i]:
      if keyw_2 in data_details[i-1]:
        if keyw_2 in data_details[i+1]:
          data_details[i] = 'deleted'
          data_details[i+1] = 'deleted' 
        else:
          continue
      else:
        continue
    elif keyw_3 in data_details[i]:
      data_details[i] = 'deleted'
    else:
      continue

removing_word(toko_sort_rele['text'])
removing_word(toko_sort_lowe['text'])
removing_word(toko_sort_high['text'])
removing_word(toko_filt_lowe['text'])
removing_word(toko_filt_high['text'])

toko_sort_rele = toko_sort_rele[toko_sort_rele['text'].str.contains("deleted")==False]
toko_sort_lowe = toko_sort_lowe[toko_sort_lowe['text'].str.contains("deleted")==False]
toko_sort_high = toko_sort_high[toko_sort_high['text'].str.contains("deleted")==False]
toko_filt_lowe = toko_filt_lowe[toko_filt_lowe['text'].str.contains("deleted")==False]
toko_filt_high = toko_filt_high[toko_filt_high['text'].str.contains("deleted")==False]

toko_sort_rele.reset_index(inplace=True, drop=True)
toko_sort_lowe.reset_index(inplace=True, drop=True)
toko_sort_high.reset_index(inplace=True, drop=True)
toko_filt_lowe.reset_index(inplace=True, drop=True)
toko_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
toko_sort_lowe

                                                   text
0     new case xiaomi redmi 10a dan redmi 10c - sili...
1                                                rp1500
2                                         kab tangerang
3                                            1112 store
4     new case xiaomi redmi 10a dan redmi 10c - sili...
...                                                 ...
1295                                          axton_acc
1296              case tpu print xiaomi redmi 9c 10a #3
1297                                            rp11900
1298                                    jakarta selatan
1299                                          axton_acc

[1300 rows x 1 columns]

In [ ]:
keyw_1 = 'rp'

def remove_unused_words(data_details):
  for i in range (len(data_details)):
    if re.match('^rp\d+$', data_details[i]):
      data_details[i+1] = 'deleted'
      data_details[i+2] = 'deleted'
    else:
      continue

remove_unused_words(toko_sort_rele['text'])
remove_unused_words(toko_sort_lowe['text'])
remove_unused_words(toko_sort_high['text'])
remove_unused_words(toko_filt_lowe['text'])
remove_unused_words(toko_filt_high['text'])

toko_sort_rele = toko_sort_rele[toko_sort_rele['text'].str.contains("deleted")==False]
toko_sort_lowe = toko_sort_lowe[toko_sort_lowe['text'].str.contains("deleted")==False]
toko_sort_high = toko_sort_high[toko_sort_high['text'].str.contains("deleted")==False]
toko_filt_lowe = toko_filt_lowe[toko_filt_lowe['text'].str.contains("deleted")==False]
toko_filt_high = toko_filt_high[toko_filt_high['text'].str.contains("deleted")==False]

toko_sort_rele.reset_index(inplace=True, drop=True)
toko_sort_lowe.reset_index(inplace=True, drop=True)
toko_sort_high.reset_index(inplace=True, drop=True)
toko_filt_lowe.reset_index(inplace=True, drop=True)
toko_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
def removing_pricetag(data):
  data.replace('rp','',regex=True, inplace=True)

removing_pricetag(toko_sort_rele)
removing_pricetag(toko_sort_lowe)
removing_pricetag(toko_sort_high)
removing_pricetag(toko_filt_lowe)
removing_pricetag(toko_filt_high)

In [ ]:
toko_sort_rele

                                                  text
0     xiaomi redmi 10a soft case vegan leather - hitam
1                                                39000
2    promo case maple redmi 10 2022 softcase silico...
3                                                27000
4    case maple redmi note 10 / note 10s softcase s...
..                                                 ...
795                                               8900
796                      custom case softcase termurah
797                                              25000
798  case tpu print xiaomi redmi 9c 10a #1 - beige ...
799                                              11900

[800 rows x 1 columns]

# sort by relevance

### clearing digit

In [ ]:
def removing_digit(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^[0-9]+$', 'deleted', data_details[i])

removing_digit(toko_sort_rele['text'])

toko_sort_rele = toko_sort_rele[toko_sort_rele['text'].str.contains("deleted")==False]
toko_sort_rele.reset_index(inplace=True, drop=True)
toko_sort_rele

                                                  text
0     xiaomi redmi 10a soft case vegan leather - hitam
1    promo case maple redmi 10 2022 softcase silico...
2    case maple redmi note 10 / note 10s softcase s...
3    case xiaomi redmi 10 (2021) premium sandstone ...
4    xiaomi redmi note 10 / 10s ume original matte ...
..                                                 ...
395  case protection print xiaomi redmi 9c 10a #5 -...
396  casing hard soft case xiaomi redmi 10c 10a rot...
397     case tpu basic xiaomi redmi 9c 10a - tpu beige
398                      custom case softcase termurah
399  case tpu print xiaomi redmi 9c 10a #1 - beige ...

[400 rows x 1 columns]

### electronic

In [ ]:
elec_1 = ('case')
elec_2 = ('redmi')
elec_3 = ('10a')
elec_4 = ('10 a')

def elec_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if elec_1 in data_details[i]:
      if elec_2 in data_details[i]:
        if elec_3 in data_details[i]:
          continue
        if elec_4 in data_details[i]:
          continue
        else:
          falseCounter+=1
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance tokopedia: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### fashion

In [ ]:
fash_1 = ('sweater')
fash_2 = ('rajut')

def fash_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if fash_1 in data_details[i]:
      if fash_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance tokopedia: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### furniture

In [ ]:
furn_1 = ('keranjang')
furn_2 = ('besi')

def furn_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if furn_1 in data_details[i]:
      if furn_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance tokopedia: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### main

In [ ]:
elec_chec_keyw(toko_sort_rele['text'])
# fash_chec_keyw(toko_sort_rele['text'])
# furn_chec_keyw(toko_sort_rele['text'])

accuracy of sort by relevance tokopedia:  0.8275
true items, : 331 , false items : 69

# sort by lowest price

In [ ]:
toko_sort_lowe

                                                  text
0    new case xiaomi redmi 10a dan redmi 10c - sili...
1                                                 1500
2    new case xiaomi redmi 10a dan redmi 10c - sili...
3                                                 1500
4    autofocus case xiaomi redmi 10a softcase silik...
..                                                 ...
645                                              11900
646            case clear print xiaomi redmi 9c 10a #3
647                                              11900
648              case tpu print xiaomi redmi 9c 10a #3
649                                              11900

[650 rows x 1 columns]

In [ ]:
toko_sort_lowe = toko_sort_lowe[toko_sort_lowe['text'].str.contains('^[0-9]+$')]
toko_sort_lowe.reset_index(inplace=True, drop=True)
toko_sort_lowe['text'] = toko_sort_lowe['text'].astype(int)

In [ ]:
def check_sort_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by lowest price in tokopedia', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_lowest(toko_sort_lowe['text'])

false on price  59   5000  then  2500
false on price  64   5500  then  5000
false on price  124   7800  then  7000
false on price  129   8400  then  7900
false on price  189   9000  then  8800
false on price  194   9900  then  9000
false on price  254   10000  then  9900
false on price  259   11500  then  10000
false on price  319   11900  then  11500
there are  9  miss on sort by lowest price in tokopedia accuracy:  0.9723076923076923
true items, : 316 , false items : 9

# sort by highest

In [ ]:
toko_sort_high

                                                  text
0    spigen ultra hybrid case xiaomi redmi note 10 ...
1                                               227700
2    nilkin camshield redmi note 10 case redmi note...
3                                               135000
4    case redmi note 10 pro poco m3 pro hybrid cass...
..                                                 ...
695                                              49000
696  xiaomi redmi note 10 pro soft case macaron lis...
697                                              49000
698  xiaomi redmi note 10 pro max soft case ultimat...
699                                              48000

[700 rows x 1 columns]

In [ ]:
toko_sort_high = toko_sort_high[toko_sort_high['text'].str.contains('^[0-9]+$')]
toko_sort_high.reset_index(inplace=True, drop=True)
toko_sort_high['text'] = toko_sort_high['text'].astype(int)

In [ ]:
def check_sort_highest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print ('there are ', falseCounter, ' miss on sort by highest price in tokopedia', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))

check_sort_highest(toko_sort_high['text'])

false on price  4   115000  then  1221000
false on price  74   75435  then  556000
false on price  144   58500  then  388000
false on price  214   50000  then  335000
false on price  279   49000  then  50000
false on price  284   50000  then  264000
there are  6  miss on sort by highest price in tokopedia accuracy:  0.9828571428571429

# filter by lowest price

In [ ]:
toko_filt_lowe

                                                  text
0    redmi 10a clear wallet card case bening / card...
1                                                10000
2           case glitter motif pita for type redmi 10a
3                                                10000
4    xiaomi redmi 10a auto focus black silicon soft...
..                                                 ...
645                                              17500
646  softcase candy redmi note 10 4g/s silicon casi...
647                                              18000
648  premium crystal case transparan xiaomi redmi n...
649                                              18500

[650 rows x 1 columns]

In [ ]:
toko_filt_lowe = toko_filt_lowe[toko_filt_lowe['text'].str.contains('^[0-9]+$')]
toko_filt_lowe.reset_index(inplace=True, drop=True)
toko_filt_lowe['text'] = toko_filt_lowe['text'].astype(int)

In [ ]:
minimum_price = 10000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= minimum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by lowest price in tokopedia, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(toko_filt_lowe['text'])

there are  0  miss on filter by lowest price in tokopedia,  accuracy:  1.0
true items, : 325 , false items : 0

# filter by highest price

In [ ]:
toko_filt_high

                                                  text
0    casing redmi note 10 10s note 10 pro max dux d...
1                                                99900
2    xiaomi redmi note 10 pro 5g denim original sil...
3                                                90000
4    metal ring case xiaomi redmi 10a redmi 10a 10 ...
..                                                 ...
695                                              37000
696  xiaomi redmi 10 / 10 prime liquid silicone rub...
697                                              35000
698  xiaomi redmi note 10 5g soft case auto focus c...
699                                              35000

[700 rows x 1 columns]

In [ ]:
toko_filt_high = toko_filt_high[toko_filt_high['text'].str.contains('^[0-9]+$')]
toko_filt_high.reset_index(inplace=True, drop=True)
toko_filt_high['text'] = toko_filt_high['text'].astype(int)

In [ ]:
maximum_price = 100000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= maximum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by highest price in tokopedia, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(toko_filt_lowe['text'])

there are  0  miss on filter by highest price in tokopedia,  accuracy:  1.0